<form>
  {{ input value=model.name }}
  {{ input value=model.lastname }}
  {{bootstrap-datepicker value=model.friendSince format="dd/mm/yyyy"}}
  <button {{ action "save" model }}>Gravar</button>
</form>
{{outlet}}